@import "_variables"
@import "_util"
@import "_mixins"
@import "_fonts"

@media (prefers-color-scheme: light)
  @import "_colors/" + $light-colors
  @import "_extend"
  @import "_main"

@media (prefers-color-scheme: dark)
  @import "_colors/" + $dark-colors
  @import "_extend"
  @import "_main"
